{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Sistem Manajemen Limbah">
  <meta name="author" content="Rido Martupa Simbolon">
  <link href="img/logo/logo.png" rel="icon">
  <title>{{page_title}}</title>
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/datatables/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/datatables/buttons.bootstrap5.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/ruang-admin.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">
  {% block content %} {% endblock content %}
</body>

</html>

















